@model webmvcEF.Models.CustomerModelView

@{
    ViewData["Title"] = "Resgister";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section>
    <!--Bắt Đầu Phần Hình Ảnh-->
    <div class="img-bg">
        <img src="~/assets/hello.jpg" alt="Hình Ảnh ">
    </div>
    <!--Kết Thúc Phần Hình Ảnh-->
    <!--Bắt Đầu Phần Nội Dung-->
    <div class="noi-dung">
        <div class="form">
            <h2>SIGN UP</h2>
            <form asp-action="Resgister">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-form">
                    <span>FullName</span>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="input-form">
                    <span>Gender</span>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="input-form">
                    <span>Address</span>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="input-form">
                    <span>Email</span>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-form">
                    <span>Phone</span>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="input-form">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
    <!--Kết Thúc Phần Nội Dung-->
</section>

