@model webmvcEF.DTO.Order

@{
    Layout = null;
    List<webmvcEF.DTO.OrderProduct> orderDetails = ViewBag.ChiTiet;
}

<!-- Content Wrapper START -->
<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Product Name
            <th>
            <th>Quantity</th>
            <th></th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (orderDetails != null && orderDetails.Count() > 0)
        {
            int i = 1;
            foreach (var item in orderDetails)
            {
                <tr>
                    <td>@i</td>
                    <td><a href="">@item.Product.ProductName</a></td>
                    <td></td>
                    <td>@item.Quantity</td>
                    <td></td>
                    <td>@item.Product.Price.ToString("#,##0")</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

